html{color:#333;background:#c6b9ac;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}
li{list-style:none}
caption,th{text-align:left}

h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}

body {margin:auto;overflow:none;}
#main {width:972px;margin:0 auto;}

q:before,q:after{content:""}
abbr,acronym{border:0;font-variant:normal}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}
input,textarea,select{*font-size:100%}
legend{color:inherit}
a{text-decoration:none;outline:none}
.clear{clear:both}
.nowrap{white-space:nowrap}
a{color:#6d3d22}
a:hover{text-decoration:underline;}
a:focus{-webkit-outline-radius:6px;-moz-outline-radius:6px;outline-radius:6px;outline:2px solid rgba(104,189,244,0.3);outline-offset:2px}
a:active{color:#000}
a:active:focus{outline:none}
a.amount{font-weight:bold}
body,table,input,textarea,select,button{font:normal 14px helvetica,arial,sans-serif;line-height:20px}
em{font-style:italic}
strong{font-weight:bold}
small{font-size:12px;line-height:inherit}

#signup {margin:0 auto;}
#signup-header img {float: left; width: 80px;}

#incharge {margin:20px 5px 5px;color:#332;text-shadow:1px 1px 1px #d6c9bc;font:bold 2.15em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;}

form {margin-left: 100px;}
form #signup input[type="email"] {
  font-size:2em;
  color:#999;
  padding:10px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -border-radius:5px;
  border:5px solid #8d5d32;
  width:650px;
  margin:0 0 10px;
  -webkit-box-shadow:inset 2px 2px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:inset 2px 2px 3px rgba(0,0,0,0.3);
  -box-shadow:inset 2px 2px 3px rgba(0,0,0,0.3);
}

form #signup input[type="email"]:focus {color:#111;}
form #signup input[type="submit"] {
  border:3px solid #4d1d02;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -border-radius:5px;
  font-size:2em;
  background:#835026;
  color:#fff;
  text-shadow:0 -1px 1px #330011;
  font-weight:bold;
  line-height:2em;
  padding:0 13px;
  height:61px;
}

form #signup input[type="submit"]:hover {background:#734026;cursor:pointer;text-shadow:0 1px 1px #330011;}
object {}

footer {margin: 12px 0 0 3px;text-shadow: 1px 1px 1px #dcccc3;font-size: 1.2em;line-height: 1.7em;}
address {display:block; padding-top: 3px;}
a#appbadge {float: right;position: relative; right: -3px;}


/* nivo slider */

.nivoSlider {
    position:relative;
    width:962px; /* Change this to your images width */
    height:462px; /* Change this to your images height */
    background: #fff url(/images/loading.gif) no-repeat 50% 50%;

    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -border-radius:5px;
    -webkit-box-shadow: inset 0 0 2px 1px rgba(0,0,0, 0.2);
    -moz-box-shadow: inset 0 0 2px 1px rgba(0,0,0, 0.3);
    -box-shadow: inset 0 0 2px 1px rgba(0,0,0, 0.3);
     border: 5px solid #8d5d32;
}
.nivoSlider img {
    position:absolute;
    top:0px;
    left:0px;
    display:none;
}
.nivoSlider a {
    border:0;
    display:block;
}

.nivoSlider .nivo-caption p {
  font-size: 24px;
  font-weight: bold;
  padding: 15px;
}