html{color:#111;background:#e6d9cc url('../images/bg.png');}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}
li{list-style:none}
caption,th{text-align:left}

h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}

body {margin:auto;overflow:none;}
#main {width:860px;margin:0 auto;}

q:before,q:after{content:""}
abbr,acronym{border:0;font-variant:normal}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}
input,textarea,select{*font-size:100%}
legend{color:inherit}
a{text-decoration:none;outline:none}
.clear{clear:both}
.nowrap{white-space:nowrap}
a{color:#6d3d22}
a:hover{text-decoration:underline;}
a:focus{-webkit-outline-radius:6px;-moz-outline-radius:6px;outline-radius:6px;outline:2px solid rgba(104,189,244,0.3);outline-offset:2px}
a:active{color:#000}
a:active:focus{outline:none}
a.amount{font-weight:bold}
body,table,input,textarea,select,button{font:normal 14px helvetica,arial,sans-serif;line-height:20px}
em{font-style:italic}
strong{font-weight:bold}
small{font-size:12px;line-height:inherit}

#main {margin-top:1.5em;}

#promo {margin-bottom:1em;}
#promo #hv-title .appicon {-webkit-border-radius:5px;border-radius:5px;-moz-border-radius:5px;float:left;box-shadow:1px 1px 2px 0 rgba(0,0,0,0.2);-webkit-box-shadow:1px 1px 2px 0 rgba(0,0,0,0.2);-moz-box-shadow:1px 1px 2px 0 rgba(0,0,0,0.2);}
#promo #hv-title h1 {font-size: 2.5em;color:#110;font-weight: bold;margin-left:88px;margin-top:0;line-height:1.4em;text-shadow:1px 1px 1px #fed;}
#promo #hv-title h5 {margin-left:5px;text-shadow:1px 1px 1px #fed;font-size:1.2em;}
#badge {text-align:right;padding-top:1em;}
#badge a.download {padding:.75em 1.25em;font-size:1.3em;color:#543;text-shadow:0 1px 0 #fed;background:#ded7cb;border:2px solid #705A40;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}
#badge a.download:hover {opacity:1.0;filter:alpha(opacity=100);cursor:pointer;background:#7d4d32;color:#fff;border-color:#531;text-shadow:0 -1px #421;text-decoration:none;}
#badge a img {opacity:.8;filter:alpha(opacity=80);}
#badge a:hover img {opacity:.9;filter:alpha(opacity=90);}

h2#incharge {font-size:1.9em;clear:both;font-weight:bold;margin:1em .5em 1em 0;line-height:1.2em;text-shadow:0 1px 1px #fed;text-align:center;}

#promo a.button.download img {opacity:.8;filter:alpha(opacity(80));}
#video-container {position:relative;text-align:center;box-shadow:0px 0px 5px 1px rgba(0,0,0,0.2);-webkit-border-radius:5px;border:1px solid #c4b9ad;padding:5px;background:#fff;cursor:pointer;padding-bottom:0;}
#video-container #play {position:absolute;top:38%;left:43%;cursor:pointer;}

#screenshots {margin: 2em 0 0;display:block;text-align:center;}
#screenshots img {padding:5px;background:#fed;border:1px solid #ba9;-webkit-border-radius:5px;border-radius:5px;-moz-border-radius:5px;}

footer {margin: 1.5em 0 .5em;padding:1em 0 0;text-shadow: 1px 1px 1px #dcccc3;font-size: 1.1em;line-height: 1.5em;border-top:1px solid #b4a99d;}
footer h5 {color:#6d3d22; margin-bottom: 5px;line-height: 1.5em;font-size: 1em;}
.social-box{/*background:#d0c5ba;*/padding: 3px 10px 0;-webkit-border-radius:7px;}
address {}
footer a#appbadge img {opacity:.5;filter:alpha(opacity=50);}
footer a#appbadge:hover img {opacity:.80;filter:alpha(opacity=80);}
